* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

main.container {
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #6a1b9a; /* Lilás suave */
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #b39ddb; /* Lilás claro */
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* Botão de idioma */
.btn-idioma {
  background-color: #b39ddb;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.3rem 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-idioma:hover {
  opacity: 0.9;
  transform: scale(1.05);
}


footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  background-color: #f1f1f1;
  color: #666;
}